In [1]:
%pwd

'E:\\ML Project\\Project1'

In [2]:
import os
os.chdir('E:\ML Project\Project1')

In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import warnings
from matplotlib import pyplot as plt
import statsmodels.api as sm
from statsmodels.formula.api import ols
from datetime import datetime
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
warnings.filterwarnings("ignore")
%matplotlib inline
pd.pandas.set_option('display.max_columns', None)

In [4]:
dataset = pd.read_csv('H-1BVisaApplications-2017.csv',na_values=['NA'],index_col=None)
print('Dimension: {}'.format(dataset.shape))
dataset.head()

Dimension: (624650, 52)

,case_number,visa_class,case_status,employer_name,employer_business_dba,employer_address,employer_city,employer_state,employer_postal_code,employer_country,employer_province,employer_phone,employer_phone_ext,naics_code,soc_name,soc_code,job_title,total_workers,case_submitted,decision_date,employment_start_date,employment_end_date,full_time_position,prevailing_wage,pw_unit_of_pay,wage_rate_of_pay_from,wage_rate_of_pay_to,wage_unit_of_pay,worksite_city,worksite_county,worksite_state,worksite_postal_code,agent_attorney_name,agent_representing_employer,agent_attorney_city,agent_attorney_state,h1b_dependent,willful_violator,original_cert_date,new_employment,continued_employment,change_previous_employment,new_concurrent_employment,change_employer,amended_petition,pw_wage_level,pw_source,pw_source_year,pw_source_other,support_h1b,labor_con_agree,public_disclosure_location
0,I-200-17060-115035,H-1B,CERTIFIED,"SIMERICS, INC.",NaN,1750 112TH AVENUE NE,BELLEVUE,WA,98004,UNITED STATES OF AMERICA,NaN,4255029978,NaN,541512,MECHANICAL ENGINEERS,17-2141,PROJECT ENGINEER,1,2017-02-28,2017-03-06,2017-08-30,2020-08-30,Y,76773.0,Year,86000.0,0.0,Year,NOVI,OAKLAND,MI,48375,"DIVATIA, AKSHAT",Y,BELLEVUE,WA,N,N,NaN,1.0,0.0,0.0,0.0,0.0,0.0,Level II,Other,2016.0,OFLC ONLINE DATA CENTER,NaN,NaN,NaN
1,I-200-17060-521850,H-1B,CERTIFIED,"MIZUHO BANK, LTD.",NaN,1251 AVENUE OF THE AMERICAS,NEW YORK,NY,10020,UNITED STATES OF AMERICA,NaN,2122823260,NaN,522110,FINANCIAL ANALYSTS,13-2051,ANALYST,1,2017-02-28,2017-03-06,2017-08-30,2020-08-30,Y,65749.0,Year,90000.0,0.0,Year,NEW YORK,NEW YORK,NY,10020,"ANSTEY, SARAH",Y,NEW YORK,NY,N,N,NaN,1.0,0.0,0.0,0.0,0.0,0.0,Level I,OES,2016.0,OFLC ONLINE DATA CENTER,NaN,NaN,NaN
2,I-200-17060-438863,H-1B,CERTIFIED,TATA CONSULTANCY SERVICES LIMITED,NaN,9201 CORPORATE BOULEVARD,ROCKVILLE,MD,20850,UNITED STATES OF AMERICA,NaN,3012319083,NaN,541511,WEB DEVELOPERS,15-1134,DEVELOPER USER INTERFACE,1,2017-02-28,2017-03-06,2017-08-11,2020-08-10,Y,49275.0,Year,60700.0,87000.0,Year,LINCOLNSHIRE,LAKE,IL,60069,"MUHLENKAMP, PRISCILLA",Y,WASHINGTON,DC,Y,N,NaN,0.0,1.0,0.0,0.0,0.0,0.0,Level II,OES,2016.0,OFLC ONLINE DATA CENTER,Y,NaN,NaN
3,I-200-17060-312033,H-1B,CERTIFIED,"STRATEGIC RESOURCES INTERNATIONAL, INC.",NaN,777 WASHINGTON RD,PARLIN,NJ,08859,UNITED STATES OF AMERICA,NaN,7328874646,NaN,541511,COMPUTER PROGRAMMERS,15-1131,PROGRAMMER ANALYST,1,2017-02-28,2017-03-06,2017-08-30,2020-08-30,Y,55910.0,Year,60000.0,0.0,Year,WEEHAWKEN,HUDSON,NJ,07086,",",N,NaN,NaN,Y,N,NaN,1.0,0.0,0.0,0.0,0.0,0.0,Level I,Other,2016.0,OFLC ONLINE DATA CENTER,Y,Y,NaN
4,I-200-17060-336602,H-1B,CERTIFIED,"EAPT SOLUTIONS, INC.",NaN,5 VAUGHN STREET,PRINCETON,NJ,08540,UNITED STATES OF AMERICA,NaN,7329810630,104,541511,"SOFTWARE DEVELOPERS, APPLICATIONS",15-1132,JAVA DEVELOPER,1,2017-02-28,2017-03-06,2017-03-01,2020-03-01,Y,68390.0,Year,68500.0,0.0,Year,NEWTON,MIDDLESEX COUNTY,MA,02459,",",N,NaN,NaN,Y,N,NaN,0.0,0.0,0.0,0.0,1.0,0.0,Level I,OES,2016.0,OFLC ONLINE DATA CENTER,Y,NaN,NaN

In [5]:
dataset = dataset[['visa_class',
                   'case_status',
                   'employer_city',
                   'employer_state',
                   'employer_country',
                   'soc_name',
                   'soc_code',
                   'job_title',
                   'total_workers',
                   'employment_start_date',
                   'employment_end_date',
                   'full_time_position',
                   'pw_unit_of_pay',
                   'wage_rate_of_pay_from',
                   'wage_rate_of_pay_to',
                   'wage_unit_of_pay',
                   'worksite_city',
                   'worksite_county',
                   'new_employment',
                   'continued_employment',
                   'change_previous_employment',
                   'new_concurrent_employment',
                   'pw_wage_level',
                   'wage_rate_of_pay_from',
                   'pw_source',
                   'pw_source_year',
                   'pw_source_other',
                   'prevailing_wage'
                  ]]

In [6]:
dataset.head()

,visa_class,case_status,employer_city,employer_state,employer_country,soc_name,soc_code,job_title,total_workers,employment_start_date,employment_end_date,full_time_position,pw_unit_of_pay,wage_rate_of_pay_from,wage_rate_of_pay_to,wage_unit_of_pay,worksite_city,worksite_county,new_employment,continued_employment,change_previous_employment,new_concurrent_employment,pw_wage_level,wage_rate_of_pay_from,pw_source,pw_source_year,pw_source_other,prevailing_wage
0,H-1B,CERTIFIED,BELLEVUE,WA,UNITED STATES OF AMERICA,MECHANICAL ENGINEERS,17-2141,PROJECT ENGINEER,1,2017-08-30,2020-08-30,Y,Year,86000.0,0.0,Year,NOVI,OAKLAND,1.0,0.0,0.0,0.0,Level II,86000.0,Other,2016.0,OFLC ONLINE DATA CENTER,76773.0
1,H-1B,CERTIFIED,NEW YORK,NY,UNITED STATES OF AMERICA,FINANCIAL ANALYSTS,13-2051,ANALYST,1,2017-08-30,2020-08-30,Y,Year,90000.0,0.0,Year,NEW YORK,NEW YORK,1.0,0.0,0.0,0.0,Level I,90000.0,OES,2016.0,OFLC ONLINE DATA CENTER,65749.0
2,H-1B,CERTIFIED,ROCKVILLE,MD,UNITED STATES OF AMERICA,WEB DEVELOPERS,15-1134,DEVELOPER USER INTERFACE,1,2017-08-11,2020-08-10,Y,Year,60700.0,87000.0,Year,LINCOLNSHIRE,LAKE,0.0,1.0,0.0,0.0,Level II,60700.0,OES,2016.0,OFLC ONLINE DATA CENTER,49275.0
3,H-1B,CERTIFIED,PARLIN,NJ,UNITED STATES OF AMERICA,COMPUTER PROGRAMMERS,15-1131,PROGRAMMER ANALYST,1,2017-08-30,2020-08-30,Y,Year,60000.0,0.0,Year,WEEHAWKEN,HUDSON,1.0,0.0,0.0,0.0,Level I,60000.0,Other,2016.0,OFLC ONLINE DATA CENTER,55910.0
4,H-1B,CERTIFIED,PRINCETON,NJ,UNITED STATES OF AMERICA,"SOFTWARE DEVELOPERS, APPLICATIONS",15-1132,JAVA DEVELOPER,1,2017-03-01,2020-03-01,Y,Year,68500.0,0.0,Year,NEWTON,MIDDLESEX COUNTY,0.0,0.0,0.0,0.0,Level I,68500.0,OES,2016.0,OFLC ONLINE DATA CENTER,68390.0

In [7]:
dataset.describe()

,total_workers,wage_rate_of_pay_from,wage_rate_of_pay_to,new_employment,continued_employment,change_previous_employment,new_concurrent_employment,wage_rate_of_pay_from,pw_source_year,prevailing_wage
count,624650.000000,6.246500e+05,6.246490e+05,624650.000000,624650.000000,624650.000000,624650.000000,6.246500e+05,624605.000000,6.246490e+05
mean,1.893800,8.285702e+04,2.416596e+04,0.834251,0.326300,0.130657,0.008979,8.285702e+04,2016.167059,7.321117e+04
std,4.826703,4.266316e+04,5.255090e+04,3.556236,1.243793,0.955791,0.157690,4.266316e+04,5.128159,2.574025e+05
min,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000e+00
25%,1.000000,6.300000e+04,0.000000e+00,0.000000,0.000000,0.000000,0.000000,6.300000e+04,2016.000000,5.682600e+04
50%,1.000000,7.600000e+04,0.000000e+00,0.000000,0.000000,0.000000,0.000000,7.600000e+04,2016.000000,7.022100e+04
75%,1.000000,1.000000e+05,0.000000e+00,1.000000,0.000000,0.000000,0.000000,1.000000e+05,2017.000000,8.914900e+04
max,155.000000,1.688000e+06,3.000000e+06,150.000000,55.000000,50.000000,50.000000,1.688000e+06,2017.000000,2.016227e+08

In [8]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 624650 entries, 0 to 624649
Data columns (total 28 columns):
visa_class                    624650 non-null object
case_status                   624650 non-null object
employer_city                 624635 non-null object
employer_state                624632 non-null object
employer_country              528143 non-null object
soc_name                      624647 non-null object
soc_code                      624648 non-null object
job_title                     624645 non-null object
total_workers                 624650 non-null int64
employment_start_date         624621 non-null object
employment_end_date           624620 non-null object
full_time_position            624645 non-null object
pw_unit_of_pay                624604 non-null object
wage_rate_of_pay_from         624650 non-null float64
wage_rate_of_pay_to           624649 non-null float64
wage_unit_of_pay              624642 non-null object
worksite_city                 624637 non-null object
worksite_county               623471 non-null object
new_employment                624650 non-null float64
continued_employment          624650 non-null float64
change_previous_employment    624650 non-null float64
new_concurrent_employment     624650 non-null float64
pw_wage_level                 500930 non-null object
wage_rate_of_pay_from         624650 non-null float64
pw_source                     624604 non-null object
pw_source_year                624605 non-null float64
pw_source_other               618278 non-null object
prevailing_wage               624649 non-null float64
dtypes: float64(9), int64(1), object(18)
memory usage: 133.4+ MB

## Missing Values
----

In [9]:
# make a list of the variables that contain missing values
vars_with_na = [var for var in dataset.columns if dataset[var].isnull().sum()>1]

# print the variable name and the percentage of missing values
for var in vars_with_na:
    print(var, np.round(dataset[var].isnull().mean(), 3), ' % missing values')

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

---

In [ ]:
def analyse_na_value(df, var):
    df = df.copy()
    
    # creating variable that indicates 1 if the observation was missing or zero otherwise
    df[var] = np.where(df[var].isnull(), 1, 0)
     
    # calculate the mean prevailing_wage where the information is missing or present
    df.groupby(var)['prevailing_wage'].mean().plot.bar()
    plt.title(var)
    plt.show()
    
for var in vars_with_na:
    analyse_na_value(dataset, var)

In [ ]:
#numerical variables
num_vars = [var for var in dataset.columns if dataset[var].dtypes != 'O']

print('Number of numerical variables: ', len(num_vars))

# visualise the numerical variables
dataset[num_vars].head()

In [ ]:
#Date variables
variables = dataset.columns
date_vars = [var for var in variables if 'year' in var or 'date' in var]
date_vars

### Discrete variables
-----

In [ ]:
#  list of discrete variables
discrete_vars = [var for var in num_vars if len(dataset[var].unique())<20 and var not in date_vars]

print('Number of discrete variables: ', len(discrete_vars))

In [ ]:
# Visualise the discrete variables
dataset[discrete_vars].head()

In [ ]:
def analyse_discrete(df, var):
    df = df.copy()
    df.groupby(var)['prevailing_wage'].median().plot.bar()
    plt.title(var)
    plt.ylabel('prevailing_wage')
    plt.show()
    
for var in discrete_vars:
    analyse_discrete(dataset, var)

#### Continuous variables
----

In [ ]:
# list of continuous variables
cont_vars = [var for var in num_vars if var not in discrete_vars+date_vars]

print('Number of continuous variables: ', len(cont_vars))

In [ ]:
# Visualise the continuous variables
dataset[cont_vars].head()

In [ ]:
# Analyse the distributions of these variables
def analyse_continous(df, var):
    df = df.copy()
    df[var].hist(bins=20)
    plt.ylabel('Frequency')
    plt.xlabel(var)
    plt.title(var)
    plt.show()
    
for var in cont_vars:
    analyse_continous(dataset, var)

## Outlier
-----

In [ ]:
# boxplots to visualise outliers in the continuous variables 

def find_outliers(df, var):
    df = df.copy()
    df[var] = np.log(df[var])
    df.boxplot(column=var)
    plt.title(var)
    plt.ylabel(var)
    plt.show()
    
for var in cont_vars:
    find_outliers(dataset, var)

**All the continous variable has outliear**

### Categorical Variables
-----

In [ ]:
### Categorical variables
cat_vars = [var for var in dataset.columns if dataset[var].dtypes=='O']
print('Number of categorical variables: ', len(cat_vars))

In [ ]:
dataset[cat_vars].head()

**Cheking levels of categorical variables:**

In [ ]:
for var in cat_vars:
    print(var, len(dataset[var].unique()),'categories')

**There are many variable unique values are much greater.**

In [ ]:
## pw_wage_level depends on job_title and wage_rate_of_pay,so cannot impute mode
print(dataset["pw_wage_level"].value_counts())
print(dataset["pw_wage_level"].isnull().sum())

In [ ]:
dataset[dataset["pw_wage_level"]=='Level I']["job_title"].value_counts()

In [ ]:
#Checking by job title doesn't give any information about the wage level,so going by wage rate
dataset[dataset["pw_wage_level"]=='Level I']['wage_rate_of_pay_from'].value_counts()

In [ ]:
dataset[dataset["pw_wage_level"]=='Level II']['wage_rate_of_pay_from'].value_counts()

In [ ]:
dataset[dataset["pw_wage_level"]=='Level III']['wage_rate_of_pay_from'].value_counts()

In [ ]:
dataset[dataset["pw_wage_level"]=='Level IV']['wage_rate_of_pay_from'].value_counts()

In [ ]:
#need to check the distribution of the levels in below 60 and 60-80 bucket
#has to work on the code for imputation
print(dataset['wage_unit_of_pay'].value_counts())
print(dataset['wage_unit_of_pay'].isnull().sum())
print(dataset['pw_unit_of_pay'].value_counts())
print(dataset['pw_unit_of_pay'].isnull().sum())

In [ ]:
#As the value of unit of pay doesn't depends on any other column imputing with mode.
dataset['wage_unit_of_pay'].fillna(dataset['wage_unit_of_pay'].mode(),inplace=True)
dataset['pw_unit_of_pay'].fillna(dataset['pw_unit_of_pay'].mode(),inplace=True)

In [ ]:
print(dataset['pw_source'].value_counts())
print(dataset['pw_source'].isnull().sum())

In [ ]:
dataset['pw_source_other'].value_counts()
dataset['pw_source_other'].isnull().sum()
len(dataset['pw_source_other'].unique())

In [ ]:
#pw_source is independent field and values not coverd in pw_source are covered in pw_source_other , so no relation
#There are 46 missing in 'pw_source' and 6372 in 'pw_source_other'(0.01%),hence imputiing with mode
dataset['pw_source'].fillna(dataset['pw_source'].mode(),inplace=True)
dataset['pw_source_other'].fillna(dataset['pw_source_other'].mode(),inplace=True)

In [ ]:
dataset.head()

In [ ]:
dataset.visa_class.value_counts()
#Nothing to do on this variable

In [ ]:
dataset.case_status.value_counts()
#Need to reduce the level

In [ ]:
dataset.case_status.isnull().sum()

In [ ]:
dataset[dataset.case_status == 'CERTIFIED-WITHDRAWN'].count()
#Taking backup
dataset1 = dataset
print('Backup taken.')

In [ ]:
dataset.case_status[dataset.case_status == 'CERTIFIED-WITHDRAWN']='CERTIFIED'

In [ ]:
dataset.case_status[dataset.case_status == 'WITHDRAWN']='DENIED'

In [ ]:
# https://www.quora.com/What-does-certified-withdrawn-status-in-H1B-visa-mean
dataset.case_status.value_counts()

In [ ]:
#### employer_city 	employer_state 	employer_country

In [ ]:
dataset.soc_name.value_counts()

In [ ]:
dataset.soc_name.isnull().sum()

In [ ]:
dataset.soc_code.value_counts()

In [ ]:
dataset.soc_code.isnull().sum()

In [ ]:
dataset.employer_city.value_counts()

In [ ]:
dataset[['soc_name','job_title','pw_wage_level','wage_rate_of_pay_from','prevailing_wage']]

In [ ]:
dataset.wage_rate_of_pay_from.isnull().sum()

In [ ]:
dataset.soc_name.value_counts()

In [4]:
dataset.job_title.unique()

array(['PROJECT ENGINEER', 'ANALYST', 'DEVELOPER USER INTERFACE', ...,
       'ASSISTANT VICE PRESIDENT; INVESTMENT STRATEGIST I',
       'SOFTWARE DEVELOPER EXPERT', 'EVENTS AND INCENTIVES COORDINATOR'],
      dtype=object)